<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="static/main.css"/>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
    <title>작은 가족과 함께 WITHPET</title>

    <!--?스타일 뺄라인-->

    <script>
        function goIndex() {
            location.href = '/index'
        }

        $(document).ready(function () {
            showHotel();
        });

        function showHotel() {
            $.ajax({
                type: "GET",
                url: `/hotels`,
                data: {},
                success: function (response) {
                    let show_hotels = response['hotels']
                    for (let i = 0; i < 9; i++) {
                        let name = show_hotels[i]['name']
                        let price = show_hotels[i]['price']
                        let location = show_hotels[i]['location']
                        let imageUrl = show_hotels[i]['imageUrl']

                        let temp_html =
                        ` <a class="card" onclick="goIndex()">
            <img class="card-img-top"
                 src="${imageUrl}"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">${name}</h5>
                <p class="card-text">${location}</p>
                <p class="card-star">${price}</p>
            </div>
        </a>`

                            $('.card-box').append(temp_html)
                    }
                }
            });
        }

    </script>
</head>

<body>
<div class="wrap">
    <div class="nav">
        <div class="logo" onclick="location.href='/main'">WITH PET</div>

    </div>

    <div class="main-img">
        <div class="main-text">
            <div class="title">작은 가족와 함께하는 특별한 여행</div>
            <div class="sub-title">우리에게 맞는 장소를 찾아보세요.</div>
        </div>
    </div>
    <!--        여기 밑에 카드글자 및 별점 점수 클래스 작성 완료-->
<div class="card-box" style="cursor:pointer">

    </div>
    <div class="bottom">
        <p>즐거운 추억을 함께 by <a href="#">@ WITHPET</a></p>
    </div>
</div>
</body>
</html>

<!--상세목록 있는지 확인 없을시 이글 지우기-->